@import '~antd/dist/antd.css';

#header h1 {
  color: #EFEFEF;
  font-weight: bold;
  margin: 0.5em 0;
}

#loading {
  margin: 10% 50%;
  height: 100%;
  width: 100%;
}

#content {
  padding: 5px;
  overflow: hidden;
  position: relative;
  flex: 1 0 0%;
}

#content #error-message {
  font-weight: bold;
  color: darkred;
}